@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Mukta:wght@500&family=Mulish:wght@900&family=Roboto:wght@400;500&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

.form-inner{
    /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
    background-color: #b5d4ea;
    padding: 3%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}